.folder{
  background-color: red;
}

.bookmark{
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.returnButton{
  width: 80px;
}

.returnContainer{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}