.img {
  width: 10%;
  height: 10%;
}

.label{
  text-overflow: ellipsis;
  overflow: hidden;
}

.container{
  background-color: rgb(221, 63, 63);
  min-width: 300px;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  gap: 5px;
  padding-left: 8px;
  max-width: 400px;
  padding-right: 8px;
}

.containerBookmark{
  background-color: rgb(110, 110, 254);
  padding-right: 8px;
  max-width: 400px;
  min-width: 300px;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 8px;
  gap: 5px;
}